@import "../../styles/mixins";
@import "../../styles/breakpoints";

.swiper {
  @include flex(column, center, center);
  @include md {
    margin-top: 0rem;
  }

  gap: 5rem;
  border-radius: 2rem;
  z-index: 5;
  &__fusee {
    opacity: 0.25;
  }
  &__title {
    @include flex(column, center, center);
    letter-spacing: 0.7rem;
  }
}
.swipeslider,
.swipeslider img {
  width: 50vw;
  height: 300px;
  @include md {
    width: 400px;
    height: 400px;
  }
  @include xxl {
    width: 500px;
    height: 400px;
  }
}

.img {
  border-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
