@import "../../styles/mixins";
@import "../../styles/breakpoints";
.container {
  background-color: #0b0a14;
  color: white;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  position: relative;

  & h1 {
    margin: 0;
    letter-spacing: 0.5rem;
  }
}

.contact {
  height: 100%;
  padding: 2rem;
  text-align: center;
  z-index: 3;
  position: relative;
  margin-top: 7rem;
  margin-bottom: 7.5rem;
  @include flex(column, center, center);
  gap: 10vh;
  &__content {
    @include flex(column-reverse, center, center);
    gap: 10vw;
    @include lg {
      @include flex(row, center, center);
      gap: 15vw;
    }
  }
  &__info {
    @include flex(column, center, flex-start);
    letter-spacing: 0.25rem;
    gap: 2rem;
    & a {
      text-decoration: none;
      color: rgb(150, 115, 136);
      border-bottom: 0px white solid;
      font-weight: bold;
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #ffffff;
        transition: width 0.3s;
      }
      &:hover::after {
        width: 100%;
        //transition: width .3s;
      }
    }
  }
  &__mail,
  &__phone {
    @include flex(row, center, center);
    gap: 3rem;
  }
}
