@import "../styles/mixins";
@import "../styles/breakpoints";

.home {
  @include flex(column, center, center);
  background-color: #0b0a14;
  color: rgb(231, 231, 231);
  overflow: hidden;
  position: relative;
}

.main {
  &__text {
    position: relative;
    z-index: 5;
    @include flex(column, space-evenly, center);
    font-size: 18px;
    @include xl {
      font-size: 20px;
    }
    & p {
      @include flex(row, center, center);
    }
    & h3,
    & a {
      color: rgb(187, 110, 110);
    }
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    line-height: 40px;
  }
  &__content {
    @include flex(column, flex-start, center);
    width: 100%;
    margin-bottom: 0rem;
    gap: 10vw;
    z-index: 5;
    & h3 {
      text-align: center;
    }
  }
  &__container {
    @include flex(column, center, center);
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.438);
    margin-bottom: 7rem;
    width: 100vw;
    @include xxl {
      width: 90vw;
    }
    & h4 {
      padding: 1rem;
      font-size: 18px;
      line-height: 30px;
      font-weight: 300;
    }
  }
  &__link {
    text-decoration: none;
    color: white !important;
    border: 2px rgb(187, 110, 110) solid;
    padding: 0.8rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    width: 8rem;
    text-align: center;
    transition: 0.4s all ease;
    &:hover {
      transition: 0.4s all ease;
      background-color: rgb(187, 110, 110);
    }
  }
  &__icons {
    min-width: 20px;
    width: 20px;
    height: 100%;
    color: orange;
    border: 2px orange solid;
    padding: 1rem;
    border-radius: 50%;
    transition: 0.5s all;
    &:hover {
      width: 35px;
      transition: 0.5s all;
      color: rgb(187, 110, 110);
      border: 2px rgb(187, 110, 110) solid;
    }
    @include xl {
      width: 30px;
    }
  }
  &__list {
    @include flex(column, flex-end, center);
    font-size: 18px;
    line-height: 30px;

    @include xl {
      @include flex(row, flex-end, center);
      font-size: 22px;
    }
    @include xxl {
      gap: 2rem;
    }
  }
  &__ul1 {
    @include flex(column, flex-end, flex-start);
    padding: 1rem;
    gap: 2rem;
    @include sm {
      width: 80%;
    }
    @include xl {
      @include flex(column, flex-end, flex-end);
    }
    & li {
      @include flex(row-reverse, flex-end, center);
      @include xl {
        @include flex(row, flex-end, center);
      }
      gap: 1rem;
      @include xxl {
        gap: 3rem;
      }
    }
  }
  &__ul2 {
    @include flex(column, flex-end, flex-start);
    padding: 1rem;
    gap: 2rem;
    @include sm {
      width: 80%;
    }
    & li {
      @include flex(row-reverse, flex-end, center);
      gap: 1rem;
      @include xxl {
        gap: 3rem;
      }
    }
  }
}

.valeurs {
  width: 100vw;
  @include xxl {
    width: 90vw;
  }
  &__title {
    @include flex(column, center, center);
    width: 80%;
    text-align: center;
    margin-bottom: 3rem;
  }
  & article {
    @include flex(column, center, center);
    padding: 4rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.438);
    margin-bottom: 2rem;
    gap: 5rem;

    @include md {
      @include flex(row, center, center);
    }
    & p {
      display: flex;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      @include md {
        text-align: left;
        line-height: 30px;
        width: 50%;
      }
      @include xl {
        line-height: 40px;
      }
    }
  }
  &__image {
    width: 80vw;
    max-width: 20rem;
    height: 100%;
    @include xl {
      max-width: 20rem;
    }
  }
}

.localisation {
  width: 100vw;
  @include xxl {
    width: 90vw;
  }
  margin-top: 10rem;
  &__content {
    padding: 3rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.438);
    margin-bottom: 2rem;
    gap: 5rem;
    @include flex(column, center, center);
    & iframe {
      width: 80vw;
      height: 50vh;
      margin-bottom: 3rem;
      max-width: 50rem;
    }
  }
}

.flexcenter {
  @include flex(column, center, center);
}
