@import "../styles/mixins";
@import "../styles/breakpoints";

.home {
  @include flex(column, center, center);
  background-color: #0b0a14;
  color: white;
  overflow: hidden;
  position: relative;
}

.main {
  &__text {
    @include flex(column, space-evenly, center);
    width: 80%;

    gap: 0.5rem;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
p{
  text-align: center
}

  }
  &__content {
    @include flex(column, flex-start, center);
    width: 100%;
    margin-bottom: 20rem;
    gap: 25vw;
  }
}
