@import "../../styles/mixins";
@import "../../styles/breakpoints";

.container {
  background-color: #0b0a14;
  color: white;
  height: 100%;
 
  overflow: hidden;
  position: relative;
  & h1 {
    margin: 0;
    letter-spacing: 0.5rem;
  }
  .contain {
    height: 100%;
    padding: 2rem;
    h2,
    .presentation {
      text-align: center;
    }
  }
}
